
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 4px;
    font-family: Raleway;
}

:root {
    --base-color: white;
    --nav-color: #171c21;
    --hover-color: #cdfb7c;
    --footer-color: #aa7cfb;
}
.darkmode {
    --base-color: #171c21;
    --nav-color: white;
    --hover-color: #aa7cfb;
    --footer-color: #cdfb7c;
}

.normal-mode {
    background-color: var(--base-color);
}

/*.all-text {
    color: var(--base-color);
}*/
#link-darkmode { /*styling links color in darkmode*/
    color: var(--hover-color);
} 

#theme-switch { /*styling lightmode dark mode switch*/
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--footer-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}
#theme-switch svg {
    fill: var(--nav-color);
}
#theme-switch svg:last-child {
    display: none;
}
.darkmode #theme-switch svg:first-child {
    display: none;
}
.darkmode #theme-switch svg:last-child {
    display: block;
}

.main-header {
    width: 100%;
}

.main-nav {
    background-color: var(--nav-color);
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    unicode-bidi: isolate;
}       
.main-nav ul {
    background: var(--base-color);
    text-decoration: none;
}

.main-nav-text-left {
    color: var(--base-color);
}
.main-nav-text-left:hover {
    background: var(--hover-color);
    text-decoration: none;
}

.main-nav-text-right:hover {
    background: var(--hover-color);
    text-decoration: none;
}
.main-nav li {
    padding: 0 5%;
}
.nav li {
    display: inline;
}
.nav ul {
    margin: 0;
}
.nav a {
    font-weight: normal;
    display: inline-block;
    padding: .5em;
    color: var(--nav-color);
    text-decoration: none;
}

.img-info {
    padding: 30px 30px 30px;
    font-family: arial;
    font-size: 30px;
    color: var(--nav-color);
    line-height: 44px;
}
.img-p {
    padding: 0px 30px 20px;
    font-family: arial;
    font-size: 16px;
    color: var(--nav-color);
    line-height: 24px;
}
.img-profile {
    float: left;
    height: 200px;
    width: 200px;
    margin: 25px;
    border-radius: 50%;
}

.greetings {
    text-align: center;
    display: block;
    color: transparent;
    -webkit-text-stroke: 1px var(--footer-color);
    font-weight: 900;
    text-decoration: none;
    line-height: 1.2em;
}
.greetings:hover {
    background-color: var(--hover-color);

    -webkit-text-stroke: 1px var(--footer-color);
    transition: 0.5s;
}
/*.greetings:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}*/

.titles { /*styling the secondary titles*/
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;
    padding-bottom: 15px;
    position: relative;
    text-align: left;
}
.titles:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: var(--nav-color);
}
.titles:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 255px;
    background-color: var(--nav-color);
}


.contact-link { /*styling contact link buttons*/
    display: block;
    border: 1px solid ;
    padding: 10px 0;
    text-align: center;
    font-size: 150%;
    color: var(--nav-color);
    text-transform: uppercase;
    transition: all .25s ease-in-out;
    &:hover {
        color: var(--footer-color);
        background-color: var(--nav-color);
    }
}
.awesome { /*contact button animation*/
    border-color: var(--nav-color);
    color: var(--footer-color);
    background {
        image: linear-gradient(45deg,var(--nav-color) 50%,transparent 50%);
        position: 100%;
        size: 40%;
    }
    transition: background 500ms ease-in-out;
    &:hover {
        background-position: 0;
    }
}

.footer { /*footer color*/
    padding: .25em 0;
    background-color: var(--footer-color);
}

.main-footer-container {
    display: flex;
    align-items: center;
}
.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.footer-contact {
    text-align: 0;
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
    color: var(--hover-color);
}
/*.footer-nav {
    flex-grow: 1;
    text-align: end;
}*/

.contacts-footer-container div { /*contact footer star review styling*/
    width: 400px;
    background: var(--nav-color);
    padding: 0.5px 2px;
    border: 1px solid #444;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}
.contacts-footer-container .star-review input{
    display: none;
}
.star-review label{
    font-size: 30px;
    color: var(--base-color);
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
    color: var(--hover-color);
}
input:checked ~ label{
    color: var(--hover-color);
}
input#rate-5:checked ~ label{
    color: var(--hover-color);
    text-shadow: 0 0 20px #952;
}


@media only screen and (max-width: 1210px) { /*resizing contact buttons for large screen*/
    .contact-link {
        margin: 10px auto;
    }
};