* {
    padding: 0;
    margin: 10px;
}

@font-face {
    font-family: Roboto;
    src: url(https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,500&display=swap);
}

body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
    /* background-color: #f4f4ea; */
}

/* main {
    overflow: scroll;
    overflow-x: hidden;
} */

a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
}

nav {
    /* background-color: #f4f4f4; */
    padding: 20px;
    justify-content: center;
    align-items: flex;
    text-align: center;
    font-size: large;
}

nav a:hover {
    background-color: #dbdcff;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
}

.nav-border {
    border-style: solid;
    border-color: black;
    border-width: 0 1.5px 1.5px;
    margin: 0;
}

.margintop {
    margin-top: 40px;
}

.budget {
    padding: 10px;
    margin: 10px;
}

#budget-box {
    block-size: 80px;
    border-radius: 50px;
    box-sizing: border-box;
    border: 1px solid #000000;
    width: 100%;
    display: inline-block;
    text-align: center;
    box-shadow: 3px 3px 3px #3d3c3c;
}

#parent {
    display: flex;
    justify-content: space-between;
}

.box {
    padding: 20px;
    margin: 20px;
    block-size: 150px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #000000;
    width: 80%;
    height: fit-content;
    display: block;
    overflow: auto;
    overflow-y: hidden;
    text-align: justify;
    box-shadow: 3px 3px 3px #3d3c3c;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    display: block;
    box-sizing: border-box;
}

.box-color {
    background-color: #f3f3f5;
}

#addexp {
    background-color: #f3f3f5;
    border: solid black;
    color: rgb(27, 26, 26);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
}

#explist {
    list-style-type: none;
}

#graph-box {
    display: grid;
    background-color: white;
}

#footer {
    text-align: center;

}